html {
    font-size: 16px
}

html,body {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%
}

body {
    align-items: center;
    background-color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center
}

#body-container {
    width: 100%;
    height: 100%
}

#main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}

#game-container {
    height: 100%;
    min-height: 100%;
    position: relative;
    width: 100%;
    min-width: 100%
}

#game-container.fixed-size {
    height: 41.5rem;
    min-height: 41.5rem;
    width: 58.5rem;
    min-width: 58.5rem
}

#game-container.full-size {
    height: 100%;
    min-height: 100%;
    width: 100%;
    min-width: 100%
}

#game-canvas {
    height: 100%;
    outline: none;
    position: absolute;
    width: 100%;
    z-index: 1
}

#login-container * {
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none
}

#login-container *:hover {
    cursor: default
}

@keyframes login-background-fade {
    0% {
        opacity: .95
    }

    50% {
        opacity: .1
    }

    100% {
        opacity: .95
    }
}

#loading-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center
}

.spinner-container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center
}

.spinner {
    animation: kfrotator 1.7s linear infinite
}

@keyframes kfrotator {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(270deg)
    }
}

.spinner-path {
    stroke-dasharray: 187;
    stroke-dashoffset: 0;
    transform-origin: center;
    animation: kfdash 1.7s ease-in-out infinite;
    stroke: #fff
}

@keyframes kfdash {
    0% {
        stroke-dashoffset: 187
    }

    50% {
        stroke-dashoffset: 46.75;
        transform: rotate(135deg)
    }

    100% {
        stroke-dashoffset: 187;
        transform: rotate(450deg)
    }
}

#loading-client {
    padding: .75rem 0
}

.game-text {
    font-family: Arial,Helvetica,sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: #fff;
    text-shadow: 1px 1px 0 #000
}
