#world-map_container {
    display: flex;
    flex-direction: row;
}
#preview {
    width: 768px;
    height: 768px;
    background-color: #000000;
}
.magnifier-thumb-wrapper > * {
    width: 256px;
    height: 256px;
}